BASE_URI = "https://yourcompany.zendesk.com"

$:.unshift(File.join('.','lib'))
require 'httparty'
require 'ohm'
require 'zendesk'
include Trello::Authorization

TRELLO_API_KEY = "key"
TRELLO_APP_SECRET = "secret"
TRELLO_TOKEN = "token"
BOARD = "board_id"
ZENDESK_URL = "https://support.url.com"
ZENDESK_EMAIL = "e@mail.you"
ZENDESK_PASSWORD = "password"
Zendesk::Z_RECENT_VIEW = "/rules/12345.json"
Zendesk::BACKLOG_LIST = "Back Log"
Zendesk::ACTIVE_LIST = "Active"
Zendesk::BLOCKED_LIST = "Blocked"
Zendesk::PENDING_LIST = "Pending Client Response"
Zendesk::TBD_LIST = "To Be Documented"
Zendesk::COMPLETE_LIST = "Complete"

Trello::Authorization.const_set :AuthPolicy, OAuthPolicy
OAuthPolicy.consumer_credential = OAuthCredential.new TRELLO_API_KEY, TRELLO_APP_SECRET
OAuthPolicy.token = OAuthCredential.new TRELLO_TOKEN, nil

config = { :email => ZENDESK_EMAIL, :password => ZENDESK_PASSWORD }
Z = Zendesk.new(config[:email], config[:password])

OHM = Ohm.connect
