require 'httparty'
require './zendesk.rb'
require 'ohm'
include Trello::Authorization

TRELLO_API_KEY = "key"
TRELLO_APP_SECRET = "secret"
TRELLO_TOKEN = "token"
BOARD = "board_id"
ZENDESK_URL = "https://support.url.com"
ZENDESK_EMAIL = "e@mail.you"
ZENDESK_PASSWORD = "password"

Trello::Authorization.const_set :AuthPolicy, OAuthPolicy
OAuthPolicy.consumer_credential = OAuthCredential.new TRELLO_API_KEY, TRELLO_APP_SECRET
OAuthPolicy.token = OAuthCredential.new TRELLO_TOKEN, nil

config = { :email => ZENDESK_EMAIL, :password => ZENDESK_PASSWORD }
Z = Zendesk.new(config[:email], config[:password])

OHM = Ohm.connect
