%html
  %body
    Cards:
    - @cards.each do |card|
      %p
      - if card.oname =~ /\#[0-9]+/
        %a{:href => "/card/#{card.trello_id}"}= card.oname
    %p
      Lists:
      - @lists.each do |list|
        %a{:href => "/list/#{list.trello_id}"}= list.name
