%html
  %body
    Cards:
    - @board.issues.sort_by(:number).each do |card|
      %p
      - if card.oname =~ /\#[0-9]+/
        %a{:href => "/issue/delete/#{card.number}"} Delete this card
        %a{:href => "/issue/#{card.number}"}= card.oname
    %p
      Lists:
      - @board.lists.each do |list|
        %a{:href => "/list/#{list.trello_id}"}= list.name
