%html
  %body
    List
    %a{:href => "/list/#{@list.id}"}= @list.name
    belongs to
    %a{:href => to("/board/#{@board.id}")}= @board.name
    has cards:
    - @list.cards.each do |card|
      %p
        %a{:href => url("/card/#{card.id}")}= card.name
