%html
  %body
    List
    %a{:href => "/list/#{@list.trello_id}"}= @list.name
    belongs to
    %a{:href => to("/board/#{@board.trello_id}")}= @board.name
    has issues:
    - @list.issues.sort_by(:number).each do |issue|
      %p
        %a{:href => url("/issue/#{issue.number}")}= issue.oname
